<p>All Posts</p>

<% @posts.each do |post| %>
    <div>
        <% if user_signed_in? %>
            <p>Author: <%= post.user.email %></p>
        <% end %>
        <p>Title: <%= post.title %></p>
        <p>Content: <%= post.body %></p>
    </div><br>
<% end %>